#App {
  height: 100vh;
  background-color: #000008;
  color: white;
  overflow: hidden;
  svg {
    margin-top: calc(50vh - 100vmin / 2);
    margin-left: calc(50vw - 100vmin / 2);
  }
  #controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    label {
      font-size: small;
    }
    input {
      background-color: black;
      color: white;
      appearance: none;
      border: 0px;
    }
    a {
      position: absolute;
      right: 1em;
      text-decoration: none;
      color: white;
      font-size: small;
      font-weight: bold;
      border: 1px solid white;
      border-radius: 0.25em;
      padding: 0.25em 0.5em 0.25em 0.5em;
    }
    a:hover {
      color: yellow;
    }
  }
}
